<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/timer.css') }}">
   <title>You scored number {{ rank }}! </title>
   <script>
       function createConfetti() {
           const colors = ['#ffcc00', '#ff5733', '#33ff57', '#3357ff', '#ff33a1'];
           for (let i = 0; i < 100; i++) {
               const confetti = document.createElement('div');
               confetti.classList.add('confetti');
               confetti.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
               confetti.style.width = Math.random() * 10 + 5 + 'px';
               confetti.style.height = Math.random() * 10 + 5 + 'px';
               confetti.style.left = Math.random() * 100 + 'vw';
               confetti.style.top = '-10px';
               confetti.style.animationDuration = '3s';
               confetti.style.animationDelay = Math.random() * 0.5 + 's';
               document.body.appendChild(confetti);
           }
       }
       window.onload = function() {
           createConfetti();
           setTimeout(function() {
            window.location.href = "{{url_for('index')}}"
           }, 5000)
       };
   </script>
</head>
<body>
   <div class="container">
       <h1>You Scored Number {{rank}}! </h1>
       <p>You will be redirected shortly... </p>
   </div>
</body>
</html>