<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
    <title>Flask SQLite App</title>
</head>
<body>
    <div class="container">
        <img src="images/logo.png" alt="ISF Logo">
        <h1 class="fade-in">Finishing Page</h1>
        <h2 class="slide-in">Finish your timer by clicking your name!</h2>

        <h2 class="slide-in">Current Entries</h2>
        <table>
            <thead>
                <tr class="top">
                    <th>Name</th>
                    <th>Total Seconds</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr class="table-row">
                    <td>{{ entry['name'] }}</td>
                    <td>{{ entry['time'] }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('finish') }}">
                            <input type="hidden" name="name" value="{{ entry['name'] }}">
                            <button type="submit" class="button">Finish</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>